.example-spacer {
  flex: 1 1 auto;
}

.panel-container {
  display: flex;
  padding-top: 2rem;
}

.left-panel {
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 2rem;
}

.center-panel {
  flex-grow: 4;
}

.right-panel {
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}
