<!-- Navigation Toolbar START -->
<app-nav-toolbar></app-nav-toolbar>
<!-- Navigation Toolbar END -->

<div class="panel-container">
  <div class="left-panel">
    <app-filter-panel></app-filter-panel>
  </div>
  <mat-divider vertical style="height:60rem;border-right-width: 1rem;"></mat-divider>
  <div class="center-panel">
    <app-data-display-panel></app-data-display-panel>
  </div>
  <mat-divider vertical style="height:60rem;border-right-width: 1rem;"></mat-divider>
  <div class="right-panel"></div>
</div>
