<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>IMBD</span>
 <span class="example-spacer"></span>
 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" onclick="window.open('https://github.com/sumedhsalvi/optamo-coding-task')">
   <mat-icon svgIcon="github_icon"></mat-icon>
 </button>
 <span class="toolbar-spacer"></span>
 <button mat-raised-button class="logout-button" aria-label="Example icon-button with share icon" (click)="logoutUser()">
  Logout
 </button>
</mat-toolbar>
